<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DNB Parking Garage</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/register"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Registration</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/display-boards"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Display Boards</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/checkout"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Checkout</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/earnings"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Earnings & Transactions</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
