<div class="alert alert-warning" role="alert" *ngIf="totalRemainingSlots === 0">
  Sorry, All parking slots are full. Currently no parking slots are available!!.
</div>
<form [formGroup]="registrationForm" (submit)="OnSubmit()">
  <div class="mb-3 row">
    <label for="staticEmail" class="col-md-4 col-lg-2 col-form-label"
      >Vehicle Number:</label
    >
    <div class="col-md-8 col-lg-10">
      <input type="text" class="form-control" formControlName="vehicleNumber" />
    </div>
  </div>
  <div class="mb-3 row">
    <label for="staticEmail" class="col-md-4 col-lg-2 col-form-label"
      >Vehicle type:</label
    >
    <div class="col-md-8 col-lg-10">
      <select
        formControlName="parkingSlotType"
        class="form-select"
        (change)="onParkingSlotSelected()"
      >
        <option *ngFor="let type of parkingSlotTypes" [ngValue]="type.id">
          {{ type.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="staticEmail" class="col-md-4 col-lg-2 col-form-label"
      >Floor:</label
    >
    <div class="col-md-8 col-lg-10">
      <select formControlName="floor" class="form-select">
        <option *ngFor="let floor of availableFloors" [ngValue]="floor.id">
          {{ floor.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="staticEmail" class="col-md-4 col-lg-2 col-form-label"
      >Check-In Date:</label
    >
    <div class="col-md-8 col-lg-10">
      <input
        type="datetime-local"
        class="form-control"
        formControlName="checkInDate"
        [max]="today"
      />
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="registrationForm.invalid"
  >
    Submit
  </button>
</form>
