<div class="alert alert-warning" role="alert" *ngIf="totalRemainingSlots === 0">
  Sorry, All parking slots are full. Currently no parking slots are available!!.
</div>
<form [formGroup]="registrationForm" (submit)="OnSubmit()">
  <h3 class="mb-3">Register Parking</h3>
  <div class="mb-3 row">
    <label for="vehicleNumber" class="col-md-4 col-lg-3 col-form-label"
      >Vehicle Registration Number:</label
    >
    <div class="col-md-8 col-lg-9">
      <input
        type="text"
        id="vehicleNumber"
        class="form-control"
        formControlName="vehicleNumber"
      />
    </div>
  </div>
  <div class="mb-3 row">
    <label for="parkingSlotType" class="col-md-4 col-lg-3 col-form-label"
      >Parking Slot Type:</label
    >
    <div class="col-md-8 col-lg-9">
      <select
        formControlName="parkingSlotType"
        class="form-select"
        id="parkingSlotType"
        (change)="onParkingSlotSelected()"
      >
        <option *ngFor="let type of parkingSlotTypes" [ngValue]="type.id">
          {{ type.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="floor" class="col-md-4 col-lg-3 col-form-label">Floor:</label>
    <div class="col-md-8 col-lg-9">
      <select formControlName="floor" class="form-select" id="floor">
        <option *ngFor="let floor of availableFloors" [ngValue]="floor.id">
          {{ floor.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="checkInDate" class="col-md-4 col-lg-3 col-form-label"
      >Check-In Date:</label
    >
    <div class="col-md-8 col-lg-9">
      <input
        id="checkInDate"
        type="datetime-local"
        class="form-control"
        formControlName="checkInDate"
        [max]="today"
      />
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="registrationForm.invalid"
  >
    Submit
  </button>
</form>
